<p>test works!</p>
<div class="col-md-3" *ngFor="let q of query | async" >
    <li> {{ q.payload.doc.id }} </li>
    <li> {{ q.payload.doc.data().name }} </li>
    
</div>
<input type="text" name="userEmail" placeholder="enter email" [(ngModel)]="userEmail">
<h1>{{userEmail}}</h1>
<button class="btn btn-success">submitEmail</button>
<button class="btn-lg btn-primary" (click)="forfunction()">forFunction</button>
<button class="btn-lg btn-danger" (click)="addCities()">Add Cities</button>
<!-- 

<h2 (click)="viewPdf()">PDF Viewer</h2>

<div class="pdf-container" *ngIf="pdfcontainer">
  <pdf-viewer [src]="src" [original-size]="false">
  </pdf-viewer>
</div>
 -->
