<div class="bg-danger">
    <div class="card text-white bg-warning" style="width: 100%;">
        <marquee behavior="" direction="">
            <p style="float: left;" class="h5">Heads up! Welcome to San Creative Library</p>
        </marquee>
        <div class="card-header bg-danger">
            <p style="float: right;" class="h5">
                {{ Nowdate | date :'short' }}               
            </p>
        </div>
    </div>
</div>

<br>
<br><br>
<div class="col-md-6 offset-3">
    <div class="card text-white bg-danger">
        <div class="card-header header-center">
            <h3 class="h3 text-center">ABOUT</h3>
        </div>
        <div class="card-body">
            <h5 style="font-style: italic;" class="card-title">San Creative Solution</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
<br><br><br>